.header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu {
    display: flex;
    align-items: center;
}


.contacts {
    display: flex;
    margin-left: auto;
    justify-content: center;
}

.contacts .contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--color-hover);
}

.contacts .link {
    transition: color var(--transitions-time) var(--timing-function) var(--delay);
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}